

#add
    | 内容
    p 我将会被引入
    -var a=0
    ul
        while a<4
            li 我是#{a++}
    -var fruits=['苹果','梨','橙子','香蕉']
    ul
        each i in fruits
            li=i


.div
    block t
    hr
    block c












